@model CommunityFishing.Models.FishInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FishInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
