@model CommunityFishing.Models.Userfish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Userfish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishLength)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFishPhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFishPhotoPath)
        </dd>*@
        <dd class="col-sm-10">
           
            <img src="~/userPhoto/@Html.DisplayFor(Model => Model.UserFishPhotoPath)" width="300" height="200"/>
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishNameNavigation.FishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserFishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-controller="PublicBlogs" asp-action="Create"> Would you like to post this?</a>
</div>
